img{

    margin-left: 24%;
    width: 1000px;

}


.principal{

    background: #CCCCCC;
}

.principal{

h1{

    text-align: center;
    
}


p{


    text-align: center
    
}
}

.beneficios{

font-style: italic;
   background: white;
}

img{

    width: 100%;
    margin-left: 0%;
    
    
}

em strong{

        color: red;
}

h2{

    text-align: center;

}