img{

    margin-left: 24%;
    width: 1000px;

}

h1{

    text-align: center;

}


p{


    text-align: center
    
}

.beneficios{

       background: #FFFFFF;

}


.itens{

    font-style: italic;
   
}